.container{
    width: 100%;
    min-height: 400px;
    border: 1px solid #900;
}

.box{
    width: 50%;
    height: 150px;
    border: 1px solid #369;
    margin: 20px; 
    padding: 30px;
    box-sizing: border-box;
   
}